<div ng-app="app">
  <div ng-controller="messagesCtrl" ng-init="setup()">
    <h1>Messages</h1>  
    <% if current_user %>
      <div>
        <label for="body">New message: </label>
        <input type="text" id="body" name="body" ng-model="newMessageBody">
        <input type="submit" ng-click="createNewMessage(newMessageBody)">
      </div>
    <% end %>
    <div class="message" ng-repeat="message in messages | orderBy:'created_at':true">
      {{ message.name }}: {{ message.body }}
    </div>
  </div>
</div>
